
<div class="large-6 large-centered column">

<%= current_user %>
<%= current_user.loc_bushwick %>
<%= current_user.loc_downtown %>
<%= current_user.loc_harlem %>
<%= current_user.loc_midtown %>
<%= current_user.loc_queens %>
<%= current_user.loc_redhook %>
<%= current_user.loc_ues %>
<%= current_user.loc_uws %>
<%= current_user.loc_williamsburg %>
<%= current_user.dow_mo %>
<%= current_user.dow_tu %>
<%= current_user.dow_we %>
<%= current_user.dow_th %>
<%= current_user.dow_fr %>
<%= current_user.dow_sa %>
<%= current_user.dow_su %>

</div>
