<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>


<div class="row">
  <div class="">
    <h2>Setup</h2>
    <p>Set your preferred meeting day, time, and place.</p>
      <%= select_tag(:time_of_day, options_for_select([['Early Morning 6am-8am', 1],['Mid Morning 8am-10am', 2],['Late Morning 10am-12pm', 3]])) %>
      <p>
        <%= check_box_tag(:days_of_week) %>
        <%= label_tag(:days_of_week, "Mo") %>
        <%= check_box_tag(:days_of_week) %>
        <%= label_tag(:days_of_week, "Tu") %>
        <%= check_box_tag(:days_of_week) %>
        <%= label_tag(:days_of_week, "We") %>
        <%= check_box_tag(:days_of_week) %>
        <%= label_tag(:days_of_week, "Th") %>
        <%= check_box_tag(:days_of_week) %>
        <%= label_tag(:days_of_week, "Fr") %>
        <%= check_box_tag(:days_of_week) %>
        <%= label_tag(:days_of_week, "Sa") %>
        <%= check_box_tag(:days_of_week) %>
        <%= label_tag(:days_of_week, "Su") %>
      </p>
      <a href="" class="button">Save</a>
  </div>

</div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
