<div class="large-6 column large-centered">

  <div id="add-email" class="container wrapper setup-settings">
    <h1>Get going!</h1>
    <%= form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>
      <% if @show_errors && current_user.errors.any? %>
        <div id="error_explanation" class="alert-box info">
          <% current_user.errors.full_messages.each do |msg| %>
            <%= msg %><br>
          <% end %>
        </div>
      <% end %>
      <div class="large-12 large-centered column panel">
        <h2>1. What's your email address?</h2>
        <p>This is used for notifications. No spam. Scouts honor.</p>
        <div class="row">
          <div class="large-11 column large-centered toggle">
            <%= f.email_field :email, :autofocus => true, :value => '', class: 'form-control input-lg', placeholder: 'Example: email@me.com' %>
          </div>
        </div>
      </div>
      <div class="large-12 large-centered column panel">
        <h2>2. Where can you meet?</h2>
        <p>Pick the neighborhoods you can go to in the <i>morning</i>.</p>
        <div class="row">
          <div class="large-11 column large-centered toggle">
            <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-2">
              <li class="neighborhoods <% if current_user.loc_bushwick %>selected<% end %>" title="neighborhood" name="Bushwick">
                <label for="loc_bushwick">Bushwick</label>
                <%= f.check_box :loc_bushwick, id: 'loc_bushwick' %>
              </li>
              <li class="neighborhoods <% if current_user.loc_downtown %>selected<% end %>" title="neighborhood" name="Downtown">
                <label for="loc_downtown">Downtown</label>
                <%= f.check_box :loc_downtown, id: 'loc_downtown' %>
              </li>
              <li class="neighborhoods <% if current_user.loc_harlem %>selected<% end %>" title="neighborhood" name="Harlem">
                <label for="loc_harlem">Harlem</label>
                <%= f.check_box :loc_harlem, id: 'loc_harlem' %>
              </li>
              <li class="neighborhoods <% if current_user.loc_midtown %>selected<% end %>" title="neighborhood" name="Midtown">
                <label for="loc_midtown">Midtown</label>
                <%= f.check_box :loc_midtown, id: 'loc_midtown' %>
              </li>
              <li class="neighborhoods <% if current_user.loc_queens %>selected<% end %>" title="neighborhood" name="Queens">
                <label for="loc_queens">Queens</label>
                <%= f.check_box :loc_queens, id: 'loc_queens' %>
              </li>
              <li class="neighborhoods <% if current_user.loc_redhook %>selected<% end %>" title="neighborhood" name="Red Hook">
                <label for="loc_redhook">Red Hook</label>
                <%= f.check_box :loc_redhook, id: 'loc_redhook' %>
              </li>
              <li class="neighborhoods <% if current_user.loc_ues %>selected<% end %>" title="neighborhood" name="Upper East Side">
                <label for="loc_ues">Upper East Side</label>
                <%= f.check_box :loc_ues, id: 'loc_ues' %>
              </li>
              <li class="neighborhoods <% if current_user.loc_uws %>selected<% end %>" title="neighborhood" name="Upper West Side">
                <label for="loc_uws">Upper West Side</label>
                <%= f.check_box :loc_uws, id: 'loc_uws' %>
              </li>
              <li class="neighborhoods <% if current_user.loc_williamsburg %>selected<% end %>" title="neighborhood" name="Williamsburg">
                <label for="loc_williamsburg">Williamsburg</label>
                <%= f.check_box :loc_williamsburg, id: 'loc_williamsburg' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="large-12 large-centered column panel">
        <h2>3. What days are you free?</h2>
        <p>Select the mornings you are available for one hour between 7am-10am.</p>
        <div class="row">
          <div class="large-11 large-centered column toggle">
            <ul class="large-block-grid-7 medium-block-grid-4 small-block-grid-3">
              <li class="days-of-week <% if current_user.dow_mo %>selected<% end %>" title="daysOfWeek" name="Monday">
                <label for="Mon">Mon</label>
                <%= f.check_box :dow_mo, id: 'Mon' %>
              </li>
              <li class="days-of-week <% if current_user.dow_tu %>selected<% end %>" title="daysOfWeek" name="Tuesday">
                <label for="Tues">Tues</label>
                <%= f.check_box :dow_tu, id: 'Tues' %>
              </li>
              <li class="days-of-week <% if current_user.dow_we %>selected<% end %>" title="daysOfWeek" name="Wednesday">
                <label for="Wed">Wed</label>
                <%= f.check_box :dow_we, id: 'Wed' %>
              </li>
              <li class="days-of-week <% if current_user.dow_th %>selected<% end %>" title="daysOfWeek" name="Thursday">
                <label for="Thur">Thur</label>
                <%= f.check_box :dow_th, id: 'Thur' %>
              </li>
              <li class="days-of-week <% if current_user.dow_fr %>selected<% end %>" title="daysOfWeek" name="Friday">
                <label for="Fri">Fri</label>
                <%= f.check_box :dow_fr, id: 'Fri' %>
              </li>
              <li class="days-of-week <% if current_user.dow_sa %>selected<% end %>" title="daysOfWeek" name="Saturday">
                <label for="Sat">Sat</label>
                <%= f.check_box :dow_sa, id: 'Sat' %>
              </li>
              <li class="days-of-week <% if current_user.dow_su %>selected<% end %>" title="daysOfWeek" name="Sunday">
                <label for="Sun">Sun</label>
                <%= f.check_box :dow_su, id: 'Sun' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= f.submit 'Continue', :class => 'button secondary large-12' %>
      </div>
    <% end %>
  </div>

</div>
