<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lunchbox" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="large-12 column text-center top-of-bar">
        <% if notice %>
          <p class="alert alert-success"><i><%= notice %></i></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><i><%= alert %><i></p>
        <% end %>

        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
           |
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% end %>

      </div>
    </div>

    <%= yield %>

    <%= link_to root_path do %>
      <%= image_tag 'Breakfast_Of_Bacon_And_Eggs_clip_art_hight.png', :style => 'width: 200px; margin: 0 auto; display: block;' %>
    <% end %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
