<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lunnch.com" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="large-12 column text-center top-of-bar">
        <% if notice %>
          <p class="alert alert-success"><i><%= notice %></i></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><i><%= alert %><i></p>
        <% end %>

        <% if user_signed_in? && !current_user.nil? && current_user.active_status == true %>
           <strong><%= link_to '@'+ current_user.username.to_s, root_path %></strong>
        <% elsif !current_user.nil? && current_user.active_status == false %>
           Welcome <strong>@<%= current_user.username.to_s %></strong>!
        <% end %>

      </div>
    </div>

    <%= yield %>

      <% if user_signed_in? && !current_user.nil? && current_user.active_status == true %>
        <div class="large-4 column large-centered text-center">
          <hr>
          <p class="text-center">
            <small><%= link_to 'Settings', edit_user_registration_path, :class => 'navbar-link' %></small> <small>|</small>
            <small><%= link_to "Logout", destroy_user_session_path, method: :delete  %></small>
          </p>
        </div>
      <% end %>
    <% if !current_user.nil? && current_user.active_status == true %>
      <%= link_to root_path do %>
        <%= image_tag 'Breakfast_Of_Bacon_And_Eggs_clip_art_hight.png', class: 'breakfast-icon' %>
      <% end %>
    <% else %>
      <%= image_tag 'Breakfast_Of_Bacon_And_Eggs_clip_art_hight.png', class: 'breakfast-icon' %>
    <% end %>

    <%= javascript_include_tag "application" %>
    <%= render 'global/scripts' %>
  </body>
</html>
